html,
body {
  width: 100%;
  height: 100%;
}

.page-wrapper > .page-content {
  min-height: calc(100vh - 70px);
}

/* account dropdown*/
.dropdown-menu {
  margin: 0;
}

/* .page-wrapper {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

/* Customizer */
.customizer {
  width: 445px;
  right: -445px;
}

.customizer .px-3,
.customizer .card {
  /* min-height: 470px; */
  height: 100%;
}

.customizer .service-panel-toggle {
  background: #272c33;
}

@media (max-width: 500px) {
  .customizer {
    width: 100vw;
    right: -100vw;
  }
}

.nav-link {
  user-select: none;
}

/* Sidebar */
.sidebar-link,
.sidebar-item {
  cursor: default !important;
}
